.login-signup-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50vw;
	height: 50vh;
}

.login-signup-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.login-signup-form * {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 2px;
}

.login-signup-button {
	background-color: #930c10;
	color: white;
	border-radius: 10px;
	border: transparent;
	cursor: pointer;
}

#errors * {
	color: red;
	list-style: none;
}
