#client-landing-container {
    display: flex;
    color: white;
}

.notes-container {
    margin-top: 20px;
    background-color: #0B0B0B;
    width: 25%;
}

#notes-header {
    font-size: 24px;
}

.notes-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.notes-list > * {
    border-top: 1px solid rgba(30, 30, 30, 0.7);
    border-right: 1px solid rgba(30, 30, 30, 0.7);
    border-bottom: 1px solid rgba(30, 30, 30, 0.7);
}

#note {
    padding: 10px;
    height: 7vh;
    font-weight: bold;
}

.add-note {
    cursor: pointer;
}

#active-true {
    background-color: #FFFEBD;
    color: black;
}