#client-landing-container {
    display: flex;
    color: white;
}

.notes-container {
    margin-top: 20px;
    background-color: #0B0B0B;
    width: 25vw;
}

.notes-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.notes-list > * {
    border: 5px solid blue;
}

#note {
    background-color: red;
    height: 7vh;
}