@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.profile-items {
    position: absolute;
    top: 5vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1A1A1A;
    list-style: none;
    color: white;
    border-radius: 5px;
}

.profile-items > * {
    padding: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.profile-dropdown {
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	align-items: flex-start;
    max-width: 200px;
}

#profile-dropdown-user-info {
    padding-top: 10px;
}

#dropdown-username {
    font-size: 18px;
}

#dropdown-email {
    padding-top: 5px;
    font-size: 14px;
    color: gray;
}

#sidebar-link {
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

.sidebar-container {
    background-color: #080808;
    border-right:  1px solid rgba(30, 30, 30, 0.7);
    border-width: .01em;
    height: 100vh;
    width: calc(150px + 10vw);
    max-width: 200px;
    transition-duration: 200ms;
    animation-duration: 300ms;
}

.sidebar-user-button {
	display: flex;
	align-items: center;
    justify-content: flex-start;
	font-size: 1.5rem;
	width: 18vh;
	height: 5vh;
	background-color: transparent;
	color: #DECE9C;
	border: none;
	margin-right: 10px;
    cursor: pointer;
}

#sidebar-username {
    font-family:'Montserrat';
    font-size: 15px;
    padding-left: 5px;
}

#sidebar-menu-items {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-search {
    border: none;
    border-radius: 15px;
    max-width: 180px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

#sidebar-menu-items > * {
    margin: 5px 0;
    text-decoration: none;
}

#search-results {
    background-color: #1A1A1A;
    border-radius: 5px;
    padding: 10px;
    color: white;
    position: absolute;
    left: 10px;
    width: calc(20px + 30vw);
    min-height: 300px;
    border: 1px solid #DECE9C;
    z-index: 10;
}

#search-results > ul:first-child {
    border-bottom: 2px solid #DECE9C;
}

#search-results > ul {
    padding: 10px 0;
    font-weight: bold;
}

#search-results > * > li {
    padding-top: 4px;
}

#search-results > * > li:first-child {
    padding-top: 10px;
}

#search-results li > a {
    font-weight: normal;
    text-decoration: none;
    color: #DDDDDD;
}

#search-results li > a:hover {
    text-decoration: underline;
}

.fa-plus {
    transition-duration: 200ms;
    border-radius: 15px;
    padding: 9px;
    justify-self: flex-end;
}

.fa-plus:hover {
    background-color: #D24262;
    color: white;
}

#notes-button, 
#notebooks-button {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: calc(150px + 10vw);
    max-width: 200px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition-duration: 200ms;
}

#notes-button:hover * {
    color: white;
}

#notes-button:hover,
#notebooks-button:hover {
    background-color: #A21232;
}

#notes-button > a,
#notebooks-button > a {
    text-decoration: none;
    justify-self: flex-end;
    flex-grow: 1;
    padding: 6px 0;
    color: #DECE9C;
    display: flex;
}

#notes-button > *:hover,
#notebooks-button > *:hover {
    color: white;
} 