@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.edit-note {
    background-color: #1A1A1A;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    transition-duration: 300ms;
}

.note-utils-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(60, 60, 60, 0.7);
}

#expand-collapse-arrow {
    cursor: pointer;
}

#note-hamburger-menu {
    cursor: pointer;
}

.note-menu-items {
    position: absolute;
    top: calc(20px + 2vh);
    right: 1px;
    background-color: #080808;
    border-radius: 5px;
}

.note-menu-items * {
    padding: 10px;
}

#delete-note-button {
    display: flex;
    color: #A21232;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#edit-note-form {
    display: flex;
    flex-direction: column;
}

#edit-note-form * {
    border: none;
    outline: none;
    padding-left: 10px;
}

#edit-note-form > input {
    background-color: transparent;
    height: 5vh;
    font-size: 36px;
    color: white;
}

#edit-note-form > textarea {
    background-color: transparent;
    resize: none;
    height: 80vh;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid rgba(60, 60, 60, 0.7);
}

/* .edit-note-button {
    margin-right: 25px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    align-self: flex-end;
    background-color: #8899A6;
    color: black;
    cursor: pointer;
} */

#save-prompt {
    position: absolute;
    bottom: 15vh;
    right: 2vw;
    font-size: 24px;
    background-color: rgba(32, 97, 88, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
}

#tag-menu-container {
    position: relative;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

#tag-menu {
    position: absolute;
    bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2B2B2B;
    border: 1px solid rgba(222 ,206, 156, 0.5);
    width: 250px;
    text-align: left;
}

#tag-menu-item {
    cursor: pointer;
    margin: 5px 0;
}

#tag,
#add-tag {
    margin: 5px;
    padding: 8px;
    border-radius: 15px;
    background-color: #555555;
    cursor: pointer;
    position: relative;
}

#add-tag {
    min-width: 135px;
}

#add-tag-list {
    position: absolute;
    bottom: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2B2B2B;
    border: 1px solid rgba(222 ,206, 156, 0.5);
    width: 200px;
}

#add-new-tag {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    border-radius: 0;
}

#select-tag > li {
    margin: 3px 0;
}