@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.edit-note {
    background-color: #1A1A1A;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    right: 0;
}

.note-utils-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(60, 60, 60, 0.7);
}

#expand-collapse-arrow {
    cursor: pointer;
}

#note-hamburger-menu {
    cursor: pointer;
}

.note-menu-items {
    position: absolute;
    top: calc(20px + 2vh);
    right: 1px;
    background-color: #080808;
    border-radius: 5px;
}

.note-menu-items * {
    padding: 10px;
}

#delete-note-button {
    display: flex;
    color: #930C10;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#edit-note-form {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#edit-note-form * {
    border: none;
    outline: none;
}

#edit-note-form > input {
    background-color: transparent;
    height: 5vh;
    font-size: 36px;
    color: white;
}

#edit-note-form > textarea {
    background-color: transparent;
    resize: none;
    height: 80vh;
    font-size: 20px;
    color: white;
}

.edit-note-button {
    margin-right: 25px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    align-self: flex-end;
    background-color: #8899A6;
    color: black;
    cursor: pointer;
}

#save-prompt {
    position: absolute;
    bottom: 15vh;
    right: 2vw;
    font-size: 24px;
    background-color: rgba(0, 129, 0, 0.479);
    padding: 10px;
    border-radius: 5px;
}