@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

.nav-container {
	height: 50px;
	background-color: transparent;
}

.nav {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	list-style: none;
	padding-top: 20px;
	padding-left: 20px;
}

.nav li {
	display: flex;
	width: auto;
	justify-content: space-between;
	list-style: none;
	margin-right: 10px;
}

.nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 25px;
	color: black;
}

.nav a > h1 {
	font-family:'Old Standard TT';
}

.nav-login-signup-links * {
	padding: 0 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: 'Old Standard TT';
	text-decoration: none;
	font-size: 20px;
}

.nav img {
	height: 50px;
}
