.nav-container {
	height: 50px;
	background-color: transparent;
}

.nav {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	list-style: none;
	margin-top: 20px;
	margin-left: 10px;
}

.nav li {
	display: flex;
	width: auto;
	justify-content: space-between;
	list-style: none;
	margin-right: 10px;
}

.nav a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 25px;
	color: black;
}

.nav-login-signup-links * {
	padding: 0 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
}

img {
	height: 50px;
}
